@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cell-size: 200px;
  --border-color: #665b58;
  --font-size: 50px;
  --button-width: 100px;
}

body {
  position: relative;
  background: linear-gradient(#6db3a3, #edddeb);
  font-family: 'Open Sans', sans-serif;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 5px solid var(--border-color);
  cursor: pointer;
  color: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes highlight {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.cell img {
  width: 50%;

  animation: show 1.5s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* remove border */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.endgame,
.startgame {
  position: absolute;
  width: calc(4.2 * var(--cell-size));
  height: calc(2.3 * var(--cell-size));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(69, 67, 65, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: slideDown 1s;
}

@keyframes slideDown {
  from {
    top: 20%;
  }
  to {
    top: 50%;
  }
}

.intro-text,
.text {
  font-size: var(--font-size);
  text-align: center;
  color: blanchedalmond;
  padding-bottom: 30px;
}
.buttons {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
button {
  width: var(--button-width);

  border-radius: 10px;
  background-color: var(--border-color);
  color: white;
}

button img {
  width: 40%;
}

#restartButton {
  width: 30%;
  height: 10%;
  font-size: calc(0.7 * var(--font-size));
}

@media screen and (max-width: 600px) {
  :root {
    --cell-size: 80px;
    --font-size: 20px;
    --button-width: 40px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  :root {
    --cell-size: 150px;
    --font-size: 40px;
    --button-width: 75px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  :root {
    --cell-size: 160px;
    --font-size: 45px;
    --button-width: 80px;
  }
}
